In [1]:
# Pyspark context SC is up and running
sc = SparkContext.getOrCreate()
sc

In [2]:
# sc master - running locally
sc.master

u'local[*]'

In [3]:
# Read input file
file_in = sc.textFile('/user/spark/project/iowaliqsales.csv')

In [116]:
# Count lines
print('number of lines in file: %s' % file_in.count())

number of lines in file: 4670911

In [118]:
# Create Spark Dataframe
df = sqlContext.read.load('/user/spark/project/iowaliqsales.csv',format='com.databricks.spark.csv',header='true',)
 #format='com.databricks.spark.csv'
#df = spark.createDataFrame(file_in,['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address', 'City','Zip Code','Store Location','County Number','County','Category','Category Name','Vendor Number','Item Number','Item Description','Pack','Bottle Volume (ml)','State Bottle Cost','State Bottle Retail','Bottles Sold','Sale (Dollars)','Volume Sold (Liters)','Volume Sold (Gallons)'])

In [120]:
df.show(5)

+-------------------+-------------+------------+--------------------+-------------------+-------------+--------+-------------------+-------------+--------------------+--------+-------------+-------------+-----------+-----------+----------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|Invoice/Item Number|         Date|Store Number|          Store Name|            Address|         City|Zip Code|     Store Location|County Number|              County|Category|Category Name|Vendor Number|Vendor Name|Item Number|Item Description|Pack|Bottle Volume (ml)|State Bottle Cost|State Bottle Retail|Bottles Sold|Sale (Dollars)|Volume Sold (Liters)|Volume Sold (Gallons)|
+-------------------+-------------+------------+--------------------+-------------------+-------------+--------+-------------------+-------------+--------------------+--------+-------------+-------------+-----------+-----------+----------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|    INV-08401500039|   11/01/2017|        5172|Uptown Liquor & T...|2000 Willey Blvd SW| Cedar Rapids|   52404|2000 Willey Blvd SW|         null|                null|    null|         null|         null|       null|       null|            null|null|              null|             null|               null|        null|          null|                null|                 null|
| Cedar Rapids 52404|         null|        null|                null|               null|         null|    null|               null|         null|                null|    null|         null|         null|       null|       null|            null|null|              null|             null|               null|        null|          null|                null|                 null|
|         (41.959585| -91.725778)"|          57|                LINN|            1022100|Mixto Tequila|     395|            PROXIMO|        89194|Jose Cuervo Espec...|      24|          375|         5.50|       8.25|          5|            8.25|1.87|              0.49|             null|               null|        null|          null|                null|                 null|
|    INV-08401500038|   11/01/2017|        5172|Uptown Liquor & T...|2000 Willey Blvd SW| Cedar Rapids|   52404|2000 Willey Blvd SW|         null|                null|    null|         null|         null|       null|       null|            null|null|              null|             null|               null|        null|          null|                null|                 null|
| Cedar Rapids 52404|         null|        null|                null|               null|         null|    null|               null|         null|                null|    null|         null|         null|       null|       null|            null|null|              null|             null|               null|        null|          null|                null|                 null|
+-------------------+-------------+------------+--------------------+-------------------+-------------+--------+-------------------+-------------+--------------------+--------+-------------+-------------+-----------+-----------+----------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
only showing top 5 rows

In [114]:
# Selecting only re
df2=df.select( df['County'],df['City'],df['Category Name'],df['Vendor Name'],df['Pack'],df['Bottle Volume (ml)'],df['State Bottle Cost'],df['State Bottle Retail'],df['Bottles Sold'],df['Sale (Dollars)'],df['Volume Sold (Liters)'])

In [93]:
from pyspark.sql.functions import isnan
df1=df.filter((df["County"] != "") | df["County"].isNotNull() |(df["Category Name"] != "") | df["Category Name"].isNotNull()|(df["City"] != "") | df["City"].isNotNull()|(df["Vendor Name"] != "") | df["Vendor Name"].isNotNull()|(df["Pack"] != "") | df["Pack"].isNotNull()|(df["Bottle Volume (ml)"] != "") | df["Bottle Volume (ml)"].isNotNull()|(df["State Bottle Cost"] != "") | df["State Bottle Cost"].isNotNull()|(df["State Bottle Retail"] != "") | df["State Bottle Retail"].isNotNull()|(df["Bottles Sold"] != "") | df["Bottles Sold"].isNotNull()|(df["Sale (Dollars)"] != "") | df["Sale (Dollars)"].isNotNull()|(df["Volume Sold (Liters)"] != "") | df["Volume Sold (Liters)"].isNotNull())

In [113]:
df2.show()

+--------------------+-----------------+-------------+
|              County|             City|Category Name|
+--------------------+-----------------+-------------+
|                null|     Cedar Rapids|         null|
|                null|             null|         null|
|Jose Cuervo Espec...|    Mixto Tequila|          375|
|                null|     Cedar Rapids|         null|
|                null|             null|         null|
| New Amsterdam Vodka|  American Vodkas|          750|
|                null|     Cedar Rapids|         null|
|                null|             null|         null|
|       Hawkeye Vodka|  American Vodkas|         1000|
|                null|     Cedar Rapids|         null|
|                null|             null|         null|
|Jose Cuervo Espec...|    Mixto Tequila|         1000|
|                null|     Cedar Rapids|         null|
|                null|             null|         null|
|Jose Cuervo Espec...|    Mixto Tequila|          375|
|                null|     Cedar Rapids|         null|
|                null|             null|         null|
|         E & J Apple|American Brandies|          750|
|                null|     Cedar Rapids|         null|
|                null|             null|         null|
+--------------------+-----------------+-------------+
only showing top 20 rows

In [92]:
numeric_filtered_1.where(numeric_filtered_1['NORMAL'] != 'null')numeric_filtered_2.show()

[('City', 'string'),
 ('County', 'string'),
 ('Category Name', 'string'),
 ('Vendor Name', 'string'),
 ('Pack', 'double'),
 ('Bottle Volume (ml)', 'double'),
 ('State Bottle Cost', 'double'),
 ('State Bottle Retail', 'double'),
 ('Bottles Sold', 'int'),
 ('Sale (Dollars)', 'double'),
 ('Volume Sold (Liters)', 'double')]

In [90]:
df2.show(5)

+---------------+--------------------+-------------+-----------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+
|           City|              County|Category Name|Vendor Name|Pack|Bottle Volume (ml)|State Bottle Cost|State Bottle Retail|Bottles Sold|Sale (Dollars)|Volume Sold (Liters)|
+---------------+--------------------+-------------+-----------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+
|   Cedar Rapids|                null|         null|       null|null|              null|             null|               null|        null|          null|                null|
|  Mixto Tequila|Jose Cuervo Espec...|          375|       8.25|1.87|              0.49|             null|               null|        null|          null|                null|
|   Cedar Rapids|                null|         null|       null|null|              null|             null|               null|        null|          null|                null|
|American Vodkas| New Amsterdam Vodka|          750|      11.25|0.75|              0.19|             null|               null|        null|          null|                null|
|   Cedar Rapids|                null|         null|       null|null|              null|             null|               null|        null|          null|                null|
+---------------+--------------------+-------------+-----------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+
only showing top 5 rows

In [58]:
from pyspark.sql.functions import isnan, when, count, col
from pyspark.sql.types import *
#dropna(df, how = c("any", "all"),minNonNulls = NULL, cols = NULL)
df.filter(df.Date.isNotNull()).show(5)
#df = df.filter(df. isNotNull())

+-------------------+-------------+------------+--------------------+-------------------+---------------+--------+-------------------+-------------+--------------------+--------+-------------+-------------+-----------+-----------+----------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|Invoice/Item Number|         Date|Store Number|          Store Name|            Address|           City|Zip Code|     Store Location|County Number|              County|Category|Category Name|Vendor Number|Vendor Name|Item Number|Item Description|Pack|Bottle Volume (ml)|State Bottle Cost|State Bottle Retail|Bottles Sold|Sale (Dollars)|Volume Sold (Liters)|Volume Sold (Gallons)|
+-------------------+-------------+------------+--------------------+-------------------+---------------+--------+-------------------+-------------+--------------------+--------+-------------+-------------+-----------+-----------+----------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
|    INV-08401500039|   11/01/2017|        5172|Uptown Liquor & T...|2000 Willey Blvd SW|   Cedar Rapids| 52404.0|2000 Willey Blvd SW|         null|                null|    null|         null|         null|       null|       null|            null|null|              null|             null|               null|        null|          null|                null|                 null|
|         (41.959585| -91.725778)"|          57|                LINN|            1022100|  Mixto Tequila|   395.0|            PROXIMO|      89194.0|Jose Cuervo Espec...|    24.0|          375|          5.5|       8.25|          5|            8.25|1.87|              0.49|             null|               null|        null|          null|                null|                 null|
|    INV-08401500038|   11/01/2017|        5172|Uptown Liquor & T...|2000 Willey Blvd SW|   Cedar Rapids| 52404.0|2000 Willey Blvd SW|         null|                null|    null|         null|         null|       null|       null|            null|null|              null|             null|               null|        null|          null|                null|                 null|
|         (41.959585| -91.725778)"|          57|                LINN|            1031100|American Vodkas|   205.0| E & J Gallo Winery|      36969.0| New Amsterdam Vodka|    12.0|          750|          7.5|      11.25|          1|          135.00|0.75|              0.19|             null|               null|        null|          null|                null|                 null|
|    INV-08401500037|   11/01/2017|        5172|Uptown Liquor & T...|2000 Willey Blvd SW|   Cedar Rapids| 52404.0|2000 Willey Blvd SW|         null|                null|    null|         null|         null|       null|       null|            null|null|              null|             null|               null|        null|          null|                null|                 null|
+-------------------+-------------+------------+--------------------+-------------------+---------------+--------+-------------------+-------------+--------------------+--------+-------------+-------------+-----------+-----------+----------------+----+------------------+-----------------+-------------------+------------+--------------+--------------------+---------------------+
only showing top 5 rows

In [36]:
import pandas as pd
import matplotlib.pyplot as plt
plt.clf()
pdDF = nonNullDF.toPandas()

root
 |-- Invoice/Item Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Store Number: integer (nullable = true)
 |-- Store Name: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zip Code: double (nullable = true)
 |-- Store Location: string (nullable = true)
 |-- County Number: double (nullable = true)
 |-- County: string (nullable = true)
 |-- Category: double (nullable = true)
 |-- Category Name: string (nullable = true)
 |-- Vendor Number: double (nullable = true)
 |-- Vendor Name: string (nullable = true)
 |-- Item Number: integer (nullable = true)
 |-- Item Description: string (nullable = true)
 |-- Pack: double (nullable = true)
 |-- Bottle Volume (ml): double (nullable = true)
 |-- State Bottle Cost: double (nullable = true)
 |-- State Bottle Retail: double (nullable = true)
 |-- Bottles Sold: integer (nullable = true)
 |-- Sale (Dollars): double (nullable = true)
 |-- Volume Sold (Liters): double (nullable = true)
 |-- Volume Sold (Gallons): double (nullable = true)

In [11]:
from pyspark.sql.functions import col

spark.range(1, 4).select(col("Invoice/Item Number").cast("Date"))

#df.describe().show()

AnalysisException: u"cannot resolve '`Invoice/Item Number`' given input columns: [id];;\n'Project [unresolvedalias(cast('Invoice/Item Number as date), None)]\n+- Range (1, 4, step=1, splits=Some(4))\n"